*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//UTILITIES
@import './utilities/colors';
@import './utilities/tipografias';
@import './utilities/mixin';

//COMPONENTS
@import './components/navbar';
@import './components/body-header-footer';
@import './components/wapp';

//SECTIONS
@import './sections/index';
@import './sections/ourProjects';
@import './sections/aboutUs';
@import './sections/contact';


