body {
    margin: 0;
    padding: 0;
    background-color: $rosa;
    padding-bottom: 80px;
}

#contact {
    width: 100%;
    height: 100%;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    min-width: 400px;
}

/* Left contact page */
.form-horizontal {
    /*float: left;*/
    font-family: 'Lato';
    font-weight: 400;
}

.form-group {
    margin-bottom: 10px;
}

.form-control,
textarea {
    max-width: 410px;
    background-color: #fddce6;
    color: $text;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 380px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

.btn-primary {
    color: #fff;
    background-color: #f5c2cb;
    border-color: #f5c2cb;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: 15px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #555;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #555;
}

.place {
    margin-left: 38px;
}

.phone {
    margin-left: 30px;
}

.gmail {
    margin-left: 30px;
}

.contact-text a {
    color: #838383;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}

/* Begin Media Queries*/
@media (min-width: 768px) {
    .contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form-control,
    textarea {
        max-width: 600px;
        width: 350px;
    }

    .direct-contact-container,
    .form-horizontal {
        margin-left: 30px;
    }

    .contact-text {
        font: 300 15px 'Lato', sans-serif;
    }

    ol,
    ul {
        padding-left: 0;
    }

    .place {
        margin-left: 40px;
    }

    .phone {
        margin-left: 30px;
    }

    .gmail {
        margin-left: 30px;
    }

    .send-button {
        height: 34px;
        width: 350px;
    }

    .alt-send-button {
        width: 320px;
        height: 34px;
    }

    .fa-paper-plane {
        align-items: center;
    }

    .copyright {
        font: 200 11px 'Oswald', sans-serif;
    }
}

@media (min-width: 1440px) {
    body {
        padding-bottom: 20px;
    }

    .contact-text {
        font: 300 20px 'Lato', sans-serif;
    }

    .form-control,
    textarea {
        max-width: 800px;
        width: 550px;
    }

    .send-button {
        height: 34px;
        width: 550px;
    }

    .alt-send-button {
        width: 520px;
        height: 34px;
    }

    .fa-paper-plane {
        align-items: center;
    }

    .copyright {
        font: 200 14px 'Oswald', sans-serif;
    }
}

@media (min-width: 2000px) {
    .contact-text {
        font: 300 35px 'Lato', sans-serif;
    }

    .form-control,
    textarea {
        max-width: 1000px;
        width: 750px;
    }

    .send-button {
        height: 34px;
        width: 750px;
    }

    .alt-send-button {
        width: 720px;
        height: 34px;
    }

   //BUCAR COMO MODIFICAR EL TAMAÑO DEL PLACEHOLDER EN ESTE TAMAÑO


}