//BODY
body {
    background-color: $rosa;

    //HEADER
    .header {
        padding-top: 20px;

        .logo {
            margin: auto;
            display: flex;
            height: 120px;
            width: 120px;
        }

        .hvr-grow:hover,
        .hvr-grow:focus,
        .hvr-grow:active {
            transform: scale(1.2);
        }

        @media (min-width: 768px) {
            .logo {
                height: 160px;
                width: 160px;
            }
        }

        @media (min-width: 1440px) {
            .logo {
                height: 200px;
                width: 200px;
            }
        }

        @media (min-width: 2560px) {
            .logo {
                height: 300px;
                width: 300px;
            }
        }
    }

    //FOOTER
    hr {
        border-color: #ffffff99;
    }

    /* Social Media Icons */
    .social-media-list {
        position: relative;
        font-size: 22px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;

        li {
            position: relative;
            display: inline-block;
            height: 60px;
            width: 60px;
            margin: 10px 3px;
            line-height: 60px;
            border-radius: 50%;
            color: #fff;
            background-color: #fc9faf;
            cursor: pointer;
            transition: all .2s ease-in-out;

            a {
                color: #fff;
            }
        }
    }


    .social-media-list li:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        opacity: 0;
        box-shadow: 0 0 0 1px #fff;
        transition: all .2s ease-in-out;
    }

    .social-media-list li:hover {
        background-color: #fff;

        a {
            color: #000;
        }
    }

    .social-media-list li:hover:after {
        opacity: 1;
        transform: scale(1.12);
        transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
    }

    .copyright {
        font: 200 14px 'Oswald', sans-serif;
        color: #555;
        text-align: center;
    }

    @media (min-width: 2560px) {
        .social-media-list {
            font-size: 45px;
        
            li {
                height: 80px;
                width: 80px;
                margin: 10px 3px;
                line-height: 60px;
                border-radius: 50%;
            }
        }
        .copyright {
            font: 200 25px 'Oswald', sans-serif;
        }    
    }
}