// .fa-whatsapp {
//     font-size: 50px;
//     color: #008000;
// }

// .fixed{
//     position: fixed;
//     right: 5px;
//     z-index: 1;
//     bottom: 20px;
// }

.fixed:hover{
//     color: white;
//     background-color: green;
//     padding: 15px;
//     border-radius: 50%;
    // right: 10px;
    transition: 0.2s;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    z-index:100;
    text-decoration: none;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }